Flask
flask-cors
speechbrain
librosa
pydub
youtube_dl
yt_dlp
ffmpeg-python
scikit-learn
transformers
torchaudio
torch
pandas
requests
numpy
sqlalchemy
webrtcvad
matplotlib
scikit-learn>=1.4.0
datasets
librosa>=0.10.0
soundfile
